@tailwind base;
@tailwind components;
@tailwind utilities;


/* .heroimg{
    background-image: url('');
} */

.nurture{
    background: #f0ebdb;
}

.font-size-heading{
    font-size: 18px;
}
.text-color{
    color: #102d5e;
}

.heading-text-color{
    color: #1981d4;
}

.li-text-color{
    color: #2a6bc5;

}
.font-family-class{
    font-family: 'Nunito', sans-serif;
}

.size-img{
    height: 50%;
    width: 50%;
}

.size-img-second-pic{
    height: 50%;
    width: 50%;
}

.heading-size{
    font-size: 24px;
}

/*  */
.header-background{
    background-color: green;
}


