@tailwind base;
@tailwind components;
@tailwind utilities;


/* .heroimg{
    background-image: url('');
} */

.nurture{
    background: #f0ebdb;
}


.text-color{
    color: #102d5e;
}

.font-family-class{
    font-family: 'Nunito', sans-serif;}